:root {
	--clr-accent: hsl(31, 80%, 45%); /*  #f8a854 */
	--clr-link: #0070f3;
	--clr-bgHeader: #f1f1f1;
	--clr-bgMain: white;
	--clr-text: #111;
	--clr-subtitle: #555;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	margin: 0 auto;
	/* padding: 0 1rem; */
	line-height: 1.6;
}

header {
	text-align: center;
	margin-inline: auto;
	padding-block: 3rem;
	/* max-width: 400px; */
	background-color: var(--clr-bgHeader);
}

main {
	/* background-color: hsl(31, 92%, 92%); */
	padding-bottom: 3rem;

	background-color: var(--clr-bgMain);
	color: var(--clr-text);
}

.sectionContent {
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem 1rem;
}

header .sectionContent {
	max-width: 400px;
}

main .sectionContent {
	padding-inline: 2.5rem;
}

img#shortcutIcon {
	width: 60px;
	height: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	margin-bottom: 1rem;
	transform: scale(1.2);
}

#macSubtitle {
	color: var(--clr-subtitle);
	/* margin-bottom: 1rem; */
}

#appleLogo {
	margin-right: 0.125rem;
	color: #777;
}

#description {
	color: #333;
	color: var(--clr-subtitle);
	font-size: 1.125rem;
	margin-bottom: 1.5rem;
	font-style: italic;
}

h1 {
	font-size: 2rem;
	/* margin-bottom: 0.5rem; */
}

h2 {
	font-size: 1.5rem;
	margin-block: 2.5rem 0.75rem;
	color: var(--clr-accent);
}

a {
	color: var(--clr-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.button {
	font-size: 1.125rem;
	/* text-decoration: none; */
	display: inline-block;
	margin-top: 1.5rem;
	padding: 0.5rem 2rem;
	background-color: var(--clr-link);
	color: white;
	border-radius: 6px;
	font-weight: 500;
	/* border-bottom: 3px solid hsl(212, 100%, 35%); */
	transition: transform 0.2s ease, background-color 0.2s ease;
}

.button:hover {
	background-color: rgba(1, 105, 217, 0.9);
	text-decoration: none;
}

.button:active {
	background-color: #015dc0;
	transform: scale(0.95);
	/* border-bottom: 2px solid hsl(212, 100%, 35%); */
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 1rem;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

ul,
ol {
	padding-left: 1.25rem;
}

li {
	margin-bottom: 0.75rem;
}

/* Nested lists for sub-items */
ol ul,
ul ul {
	margin-top: 0.5rem;
	margin-bottom: 0;
	font-size: 0.95em;
	color: var(--clr-subtitle);
	list-style-type: none;
}

ol ul li,
ul ul li {
	margin-bottom: 0.25rem;
}

ol ul li::before,
ul ul li::before {
	content: "– ";
	margin-left: -1.2em;
	margin-right: 0.5em;
}

footer {
	padding-block: 1rem;
	font-size: 0.9rem;
	/* color: white; */
	/* background-color: #323232; */
	color: var(--clr-text);
	background-color: var(--clr-bgHeader);
	text-align: center;
}

footer a {
	color: var(--clr-text);
	text-decoration: underline;
}

#links {
	margin-top: 0.5rem;
}
